$pr1 : #222845;
$pr2 : #b99663;
$pr3 : #fff;
$pr4 : #474d6b;
$pr5 : #efefef;
$pr6 : #f7f7f7;
$txt-clr-1: #222845;
$txt-clr-2: #b99663;
$txt-clr-3: #fff;
$txt-clr-4: #474d6b;
$txt-clr-5: #a3a7c0;
$txt-clr-6: #424242;
$txt-clr-7: #c3c8e2;
$icon-clr-1:#8a8fa7;
$icon-clr-2:#b99663;
$icon-clr-3:#fff;
$icon-clr-4:#222845;
$heading: 'Merriweather', serif;
$para: 'Ubuntu', sans-serif;
$overlay-1:#222845ab;
$overlay-2: #b99663ab;
$size-fifteen: 15px;
$size-twelve: 12px;
$size-eighteen: 18px;
$size-twenty: 20px;
$size-twenty-two: 22px;
$size-twenty-six: 26px;
$size-thirty-five: 35px;
$size-fifty: 50px;
$size-sixty: 60px;
$size-seventy: 70px;
$regular: 600;
$btn-border-clr-1:#cfcfcf;
$btn-border-clr-2:#b99663;
$btn-border-clr-3: #efefef;
$line-height:150%;
@mixin default{
    margin: 0px;
    padding: 0px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
@mixin container {
    max-width: 1140px;
    margin: 0 auto;

}
@mixin margin-width{
    width: 100%;
    margin-bottom: 100px;
}
@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flexalign {
    display: flex;
    align-items:center;
}
@mixin flexalignstart {
    display: flex;
    align-items: flex-start;
}
@mixin s-hover{
    color: $txt-clr-3;
}
@mixin hover-btn {
    color: $txt-clr-3;
    background: $pr2;
}
@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}
@mixin none-uppercase {
    text-transform: uppercase;
    text-decoration: none;
}
@mixin btn {
    color: $txt-clr-2;
    padding: 12px 20px;
    @include none-uppercase;
}
@mixin inputnone {
    border: none;
    outline: none;
    
}
@mixin heading-1 {
    font-size: $size-twenty-six;
    color: $txt-clr-1;
    position: relative;
}
@mixin heading-2 {
    font-size: $size-twenty-six;
    color: $txt-clr-2;
    position: relative;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    @include default
}
.container {
    @include container
}
.margin-width{
    @include margin-width
}
.top-strip{
    background: $pr1;
}
.top-strip-inside{
    @include flexcenter;
}
.language,.top-strip-address,.login-info{
   @include flexalign;
   padding: 15px 0px;
}
.top-strip-address>a,.login-info>a{
    font-size: $size-twelve;
    font-family: $para;
    text-decoration: none;
    text-transform: capitalize;
    color: $txt-clr-3;
}

.language>a>i,.top-strip-address>a>i,.login-info>a>i{
    margin:0px 5px;
    color: $txt-clr-4;
}
.login-info>a:first-child{
    margin: 0px 10px;
}
.s-active-1{
    font-size: $size-twelve;
    font-family: $para;
    text-decoration: none;
    text-transform: capitalize;
    color: $txt-clr-5;
}

.language>a:hover, .s-active{
    @include s-hover;
}
.strt-line{
    width: 2px;
    height: 20px;
    background: $pr4;
    margin: 0px 14px;
    display: inline-block;
}
.navbar{
    width: 100%;
    background: $pr3;
}
.navbar-inside{
    @include flexcenter; 
    padding: 29px 0px;
}
.logo-main{
    @include flexalign;
}
.logo-txt{
    @include flexcolumn;
    font-family: $heading;
}
.logo-txt>span:first-child{
    font-size: $size-eighteen;
    color: $txt-clr-1;  
    font-weight: $regular;  
}
.logo-txt>span:last-child{
    font-size: $size-twenty;
    color: $txt-clr-2;    
}
.navigation>span{
    display: none;
}
.navigation>ul>a{
    padding: 0px 20px;
    font-size: $size-fifteen;
    color: $txt-clr-6;
    font-weight: $regular;
    font-family: $para;
    @include none-uppercase;
}
.get-started{
    text-decoration: none;
    font-size: $size-fifteen;
    color: $txt-clr-6;
    font-weight: $regular;
    font-family: $para;
    padding: 20px 35px;
    border: 1px solid $btn-border-clr-1;
    @include none-uppercase;
}
.banner{
    display: flex;
    align-items:stretch;
}
.banner-slider{
    width: 50%;
    // height: 100%;
}
.slider-img{
    width: 100%;
    height:100%;
}
.slider-img>img{
    width: 100%;
    min-height:1px;
    max-height: 468px;
    object-fit: cover;
}
.banner-slider-nav{
    width: 50%;
    @include flexcolumn;
}
.slider-navigation{
    width: 100%;
    @include flexcolumn;
    align-items: flex-start;
    background: $pr5;
    padding: 42px 0px 42px 65px;
    border-left:5px solid transparent ;
}
.slider-navigation>h1{
    font-size: $size-twenty-six;
    font-family: $heading;
    color: $txt-clr-1;
    margin-bottom: 20px;
}
.slider-navigation>p{
    font-size: $size-fifteen;
    font-family: $para;
    color: $txt-clr-6;
    width: 70%;
    line-height: 24px;
    margin-bottom: 30px;
}
.slider-navigation>a{
    @include btn;
    font-family: $para;
    border: 1px solid $btn-border-clr-2;
}
.slick-center {
    background: $pr1;
    border-left: 5px solid $btn-border-clr-2;
}
.slick-current  {
    transition: .5s ease;

 .slider-heading{
    color: $txt-clr-3;
 }
 .slider-para{
    color: $txt-clr-3;
 }
 .slider-link{
    color: $txt-clr-3;
    background: $pr2;
 }
}
.down-arrow{
 position: absolute;
 z-index: 1;
 bottom: 15px;
 left: 25px;
}
.up-arrow{
position: absolute;
z-index: 1;
bottom: 55px;
left: 25px;
}
.up-arrow>i,.down-arrow>i{
    color: $icon-clr-3;
    font-size: 30px;
}
/*banner ends here*/
/*find your course starts here*/
.find-your-course{
    @include flexcenter;
    align-items: stretch;
    gap: 29px;
}
.find-your-course-form{
@include flexcolumn;
align-items: flex-start;
padding: 40px 35px;
background: $pr6;
width: 32%;
}
.find-your-course-form>h3{
  font-size: $size-twenty-two;
  color: $txt-clr-1;
  font-family: $heading;
  margin-bottom: 35px;
}
.find-your-course-form>p{
    font-size: $size-fifteen;
    color: $txt-clr-6;
    font-family: $para;
    margin-bottom: 15px;
}
.check-boxes{
    @include flexalign;
    gap: 20px;
    margin-bottom: 15px;
}
#chck-box{
    @include flexalign;
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-6;
}
#chck-box-1{
    @include flexalign;
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-6;
}
.outer-box{
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 2px solid $btn-border-clr-2;
    position: relative;
    margin: 10px;
}

.inner-check,.inner-check-1{
    display: none;
    position: absolute;
    width: 11px;
    height: 12px;
     background: $icon-clr-2;
     border: 2px solid $btn-border-clr-3;
}
#inner-check.active{
    display: inline-block;
}
.input-text-course{
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}
.input-text-course>input{
    @include inputnone;
    padding:15px;
    border-bottom: 1px solid $btn-border-clr-1;
    font-size: $size-fifteen;
    background: $pr3;
    width: 100%;
    color: #bababa;
}
.input-text-course>a{
    @include none-uppercase;
    color: #bababa;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 38%;
}
.find-your-course-form>select{
    padding: 15px;
    @include inputnone;
    width: 100%;
    font-family: $para;
    font-size: $size-fifteen;
    color: #bababa;
    margin-bottom: 25px;
    border-bottom: 1px solid $btn-border-clr-1;
}
.find-your-course-form>a{
    @include btn;
    font-size: $size-twelve;
    font-family: $para;
    border: 1px solid $btn-border-clr-2;
}
.find-your-course-form>a:hover{
    @include hover-btn;
    transition: .5s ease;
}
.courses{
    @include flexalign;
    flex-wrap: wrap;
    gap: 14px;
    width: 68%;
}
.courses>a{
    @include flexcolumn;
    align-items: center;
    justify-content: center;
    border-left: 4px solid transparent;
    background: $pr1;
    flex: 1 1 0px;
    flex-basis: 20%;
    height: 48%;
    overflow: hidden;
    text-decoration: none;
}
.courses>a>i{
    font-size: 50px;
    margin-bottom: 20px;
    color: $txt-clr-3;
}
.courses-links>span{
    font-family: $heading;
    font-size: $size-fifteen;
    text-decoration: none;
    color: $txt-clr-3;
}
.courses-links:hover{
    border-left: 4px solid $btn-border-clr-2;
    transition: .5s ease;
}
.courses-links:hover i{
    color: $txt-clr-2;
    transition: .5s ease;
}
/*popular course starts here*/
.popular-course-heading{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: $heading;
    margin-bottom: 80px;
}
.popular-course-heading>.heading-1{
    @include heading-1;
}
.popular-course-heading>.heading-2{
    @include heading-2;
}
.heading-1:before{
    position: absolute;
    content: "";
    height:2px;
    width: 50px;
    bottom: -10px;
    right: -5px;
    background:$txt-clr-1;
}
.heading-2:before{
    position: absolute;
    content: "";
    height:2px;
    width: 50px;
    bottom: -10px;
    left: -5px;
    background:$txt-clr-2;

}
.popular-course-main{
    @include flexalignstart;
    gap: 24px;
    flex-wrap: wrap;
}
 .popular-course-number{
     flex-basis: 20%;
     flex: 1 1 0;
     border: 1px solid #eaeaea;
     padding-bottom: 25px; 
}
.p-c-image{
    position: relative;
    overflow: hidden;
}
.p-c-image>img{
    width: 100%;
    height: auto;
    display: block;
}

.p-c-info{
    @include flexcolumn;
    align-items: center;
}
.p-c-author{
    @include flexalign;
    justify-content: center;
    background: $pr1;
    font-family: $para;
    position: relative;
    width: 100%;
}
.p-c-author>h4{
    color: $txt-clr-7;
    font-size: $size-fifteen;
    padding: 15px 0px;
    font-weight: 400;
}
.p-c-author>img{
    position: absolute;
    top: -25px;
    left: 5px;
}
.p-c-description{
    font-size: $size-fifteen;
    color: $txt-clr-4;
    font-family: $heading;
    width: 70%;
    text-align: center;
    padding: 25px 0px 25px;
}
.p-c-price{
    text-align: right;
        width: 75%;
        font-family: $para;
        margin-bottom: 10px;
}
.p-c-price>span{
    font-size: $size-twenty;
    font-weight: $regular;
    color: $txt-clr-2;
    position: relative;
}
.p-c-price>span:before{
    content: "";
    position: absolute;
    width: 156px;
    height: 1px;
    background: #eaeaea;
    left: -166PX;
    top: 45%;
}
.p-c-comments-views{
    width: 75%;
    text-align: left;
    font-family: $para;
}
.p-c-comments-views>a{
    color: $txt-clr-1;
    font-size: $size-fifteen;
    @include none-uppercase;
    font-weight: bold;
}
.p-c-comments-views>a>i{
    margin:0px 5px;
    color: #eaeaea;
}
.overlay-p-c{
    width: 100%;
    height: 100%;
    position: absolute;
    background: $overlay-2;
    visibility: hidden;
    top: 100%;
    transform: rotate(90deg);
}

.overlay-p-c>div{
    width: 100%;
    height: 100%;
    @include flexalign;
    justify-content: center;
}
.overlay-p-c>div>a{
    font-size: $size-twelve;
    font-family: $para;
    color: $txt-clr-2;
    background: $pr3;
    @include btn;
}
.p-c-image:hover .overlay-p-c{
    visibility: visible;
    top: 0;
    transform: none;
    transition: .5s ease ;
}

.full-screen,.full-screen-1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-1;
    display: none;
    z-index: 500;
    height: 6400px;
}
.closeBtn,.closeBtn-1{
    height: 30px;
    width: 30px;
    background-color:$pr3;
    border-radius: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 
.closeBtn>i,.closeBtn-1>i{
   color: $icon-clr-2;
}
.popup{
position: relative;
font-family: $para;
max-width: 1140px;
display: flex;
align-items: flex-start;
justify-content: flex-end;
left: 0;
right: 0;
margin: 0 auto;
top: 120px;
}
.popup>span{
background: #fa6a2f;
color: #fff;
font-size: 31px;
font-weight: bold;
padding: 22px 27px;
border-radius: 90px;
position: absolute;
top: -45px;
left: 457.177px;
}
.login-popup{
display: -webkit-flex;
display: flex;
flex-direction: column;
padding: 50px 30px;
background:#fff ;
width: 50%; 
margin-right: 10px;   
}
.login-popup>h2{
font-size: $size-eighteen;
font-weight: bold;
@include none-uppercase;
color: $txt-clr-1;
padding-bottom: 10px;
border-bottom: 1px solid #f4f4f4;
margin-bottom: 20px;
}
.login-popup>form{
display: flex;
flex-direction: column;
margin-bottom: 30px;
}
.login-popup>form>input{
height: 40px ;
background: #f7f7f7;
color: #a3a3a3;
font-size: 15px;
outline: none;
border: none;
padding-left: 15px;
border-bottom:1px solid #eaeaea ;
margin-bottom: 15px;
}
.forgot-password{
color: #a3a3a3;
font-size: 15px;
width: 100%;
text-align: right;
text-decoration: none;
}
.login{
background: $pr2;
font-size: $size-twelve;
@include btn;
color: #fff;
max-width: 125px;
text-align: center;
border: 1px solid transparent;
}
.popup-links{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
}
.popup-links>a{
color: #fff;
font-size: 13px;
font-weight: bold;
padding: 10px 25px;
text-decoration: none;
text-align: center;
border: 1px solid transparent;
margin-right: 15px;
}
.popup-links>a:last-child{
margin-right: 0px;
}
.popup-links>a>i{
margin-right: 10px;
font-size: 16px;
}
.login:hover{
    color: $txt-clr-2;
    background: $pr3;
    border: 1px solid $btn-border-clr-2;
transition: .5s ease;

}
.popup-links>.facebook{
background: #46629c;
}
.popup-links>.facebook:hover{
border: 1px solid #46629c;
background: #fff;
color: #46629c;
transition: .5s ease;
}
.popup-links>.twitter{
background: #00aced;
}
.popup-links>.twitter:hover{
border: 1px solid #00aced;
background: #fff;
color: #00aced;
transition: .5s ease;
}
.popup-links>.google{
background: #ea634e;
}
.popup-links>.google:hover{
border: 1px solid #ea634e;
background: #fff;
color: #ea634e;
transition: .5s ease;
}
.login-popup>span{
    font-size: $size-fifteen;
    color: $txt-clr-1;
    width: 100%;
    text-align: center;
}
.login-popup>span>a{
    color: $txt-clr-2;
    text-decoration: none;
    margin-left: 5px;
}
/*why choose us starts here*/
.why-choose-us{
    background: $pr6;
}
.why-choose-us-content{
    @include flexalignstart;
    width: 100%;
    padding-top: 85px;
    gap: 40px;
}
.why-choose-us-main{
    @include flexcolumn;
    justify-content: center;
    width: 65%;
    padding-top: 30px;
}
.why-choose-us-heading{
    @include flexalign;
    justify-content: center;
    font-family: $heading;
    gap: 15px;
    margin-bottom: 90px;
}
.why-choose-us-heading>.heading-1{
    @include heading-1;
}
.why-choose-us-heading>.heading-1:before{
    right: -40px;
}
.why-choose-us-heading>.heading-2{
    @include heading-2;
}
.why-choose-us-heading>.heading-2:before{
    left: 35px;
}
.w-c-u-stats{
    @include flexalignstart;
    gap: 40px;
}
.w-c-u-stats-no{
    @include flexcolumn;
    align-items: center;
}
.w-c-u-stats-no>span{
    font-size: $size-sixty;
    color: $txt-clr-2;
    font-family: $para;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 3px dotted #dfdfdf;
}
.w-c-u-stats-no>p{
    font-size: $size-fifteen;
    font-family: $heading;
    color: $txt-clr-1;
    font-weight: $regular;
    text-align: center;
    line-height: $line-height;
}
.questions{
    width: 35%;
    background: $pr3;
    padding: 10px;
    position: relative;
}
.question-main{
    @include flexcolumn;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    border: 2px solid $pr6;
}
.question-main>h1{
    font-family: $heading;
    font-size: $size-twenty-two;
    color: $txt-clr-1;
    text-align: center;
    width: 60%;
    line-height: $line-height;
    margin-bottom: 30px;
}
.question-main>p{
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-6;
    text-align: center;
    width: 70%;
    line-height: $line-height;
    margin-bottom: 45px;
}
.question-main>a{
    @include btn;
    border: 1px solid $btn-border-clr-2;
    font-size: $size-twelve;
    font-family: $para;
}
.question-main>a:hover{
    @include hover-btn;
    transition: .5s ease;
}
.question-img{
    position: absolute;
    right: -222px;
    top: -11px;
    display: none;
}
/*you can learn starts here*/
.you-can-learn{
    background: $pr3;
}
.y-c-l-heading{
    @include flexalign;
    justify-content: center;
    font-family:$heading;
    font-size: $size-twenty-two;
    gap: 15px;
    margin-bottom: 65px;
}
.y-c-l-heading>.heading-1{
    @include heading-1;
}
.y-c-l-heading>.heading-2{
    @include heading-2;
}
.y-c-l-main{
    width: 100%;
    @include flexalignstart;
    flex-wrap: wrap;
    gap: 24px;
}
.y-c-l-number{
    position: relative;
    overflow: hidden;
}
.y-c-l-number>img{
    width: 100%;
    height: auto;
    display: block;
}
.y-c-l-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.y-c-l-overlay-txt{
    @include flexcolumn;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}
.y-c-l-overlay-txt>span{
    font-size: $size-twenty-two;
    color: $txt-clr-3;
    font-family: $heading;
}
.y-c-l-overlay-txt>a{
    @include btn;
    font-family: $para;
    border: 1px solid $btn-border-clr-2;
    margin-top: 0px;
    margin-bottom: 80px;
    // display: none;
    visibility: hidden;
}
.y-c-l-overlay-txt>a:hover{
    @include hover-btn;
    transition: .5s ease;
}
.y-c-l-overlay-txt:hover #l{
    // display: inline-block;
    visibility: visible;
    margin-top: 25px;
    margin-bottom: 100px;
    transition: .5s ease;
}
.y-c-l-overlay:hover {
    background: $overlay-1;
    transition: .5s ease;
}
/*our latest events starts here*/
.our-latest-events{
    background: $pr6;
}
.main-events{
    @include flexalignstart;
    gap: 25px;
    padding-bottom: 100px;
}
.o-l-e-main{
    width: 75%;
    padding-top:100px ;
}
.o-l-e-heading{
    font-family: $para;
    color: $btn-border-clr-1;
    margin-bottom: 50px;
}
.o-l-e-heading>h1{
    font-size: $size-fifty;
    font-weight: 400;
}
.o-l-e-content{
    @include flexalignstart;
    gap: 25px;
}
.o-l-e-autoplay{
    width: 31%;
}
.o-l-e-autoplay-elements{
    @include flexcolumn;
    align-items: flex-start;
    padding-bottom: 50px;
    border-bottom: 1px solid $btn-border-clr-1;
    
}
.o-l-e-autoplay-elements>p{
    font-family: $heading;
    line-height: 175%;
    color: $txt-clr-1;
    font-size: $size-fifteen;
    font-weight: $regular;
    margin-bottom: 25px;
}

.o-l-e-autoplay-elements>a{
    @include btn;
    font-family: $para;
    @include none-uppercase;
    font-size: $size-twelve;
    border: 1px solid $btn-border-clr-2;
}
.o-l-e-autoplay-elements>a:hover{
    @include hover-btn;
    transition: .5s ease;
}
.o-l-events{
    @include flexcolumn;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 35%;
}
.o-l-events-img{
    margin-bottom: 20px;
}
.o-l-events>h4{
    font-family: $heading;
    font-size: 16px;
    color: $txt-clr-1;
    font-weight: $regular;
    line-height: 170%;
    margin-bottom: 15px;
}
.o-l-events>span{
    font-family: $heading;
    font-size: $size-fifteen;
    color: $txt-clr-2;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
.o-l-events>p{
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-6;
    line-height: $line-height;
    margin-bottom: 20px;
}
.o-l-events>a{
    @include btn;
    border: 1px solid $btn-border-clr-2;
    font-size: $size-twelve;
    font-family: $para;
}
.o-l-events>a:hover{
    @include hover-btn;
    transition: .5s ease;
}

.o-l-e-stats{
    width: 25%;
    background: $pr1;
    @include flexcolumn;
    align-items: center;
    gap:75px;
    padding: 75px 20px;
    margin-top: -20px;
    position: relative;
}
.o-l-e-stats:before{
    position: absolute;
    border-left:20px solid $pr1;
    border-top: 20px solid transparent;
    content: ''; 
    top:0;
    right: -20px;
}
.o-l-e-stats-number{
    @include flexcolumn;
    align-items: center;
}
.o-l-e-stats-number>span{
    font-size: $size-seventy;
    font-family: $para;
    color: $txt-clr-3;
    margin-bottom: 25px;
}
.o-l-e-stats-number>p{
    font-family: $heading;
    font-size: $size-fifteen;
    line-height: $line-height;
    color: $txt-clr-5;
    text-align: center;
}
.right-arrow{
    bottom: -40px;
    position: absolute;
    left: 52%;
    font-size: 20px;
    cursor: pointer;
    color: $icon-clr-4;
}
.left-arrow{
    bottom: -40px;
    position: absolute;
    left: 44%;
    font-size: 20px;
    cursor: pointer;
    color: $icon-clr-4;
}
.left-arrow:hover,.right-arrow:hover{
    color: $icon-clr-2;
    transition: .5s ease;
}
/*what client say starts from here*/
.what-client-say{
    background: $pr3;
}
.w-c-s-heading{
  @include flexalign;
  justify-content: center;
  gap: 15px;
  font-family: $heading;
  margin-bottom: 50px;
}
.w-c-s-heading>.heading-1{
    @include heading-1;
}
.w-c-s-heading>.heading-2{
    @include heading-2;
}
.w-c-s-heading>.heading-1::before{
    right: -35px;
}
.w-c-s-heading>.heading-2::before{
    left: 26px;
}
.w-c-s-desc{
    width: 100%;
    overflow: hidden;
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-6;
    text-align: center;
    margin-bottom: 60px;
}
.w-c-s-autoplay{
    width:86.5%;
    margin: 0 auto;
}
.w-c-s-main{
    @include flexalignstart;
    justify-content: center;
    width: 100%;
}
.w-c-s-number{
    @include flexcolumn;
    width: 44%;
}
.w-c-s-holder{
    width: 53%;
    min-height: 395px;
    max-height: 100%;
    padding-top: 20px;
    position: relative;
}
.w-c-s-number-1{
    @include flexcolumn; 
    position: absolute;
    left: -35px;  
}
.w-c-s-comments{
    background:$pr1;
    padding: 45px; 
    margin-bottom: 25px;
    z-index: 1;
    position: relative;
}
.w-c-s-comments-1{
    background:$overlay-2;
    padding: 60px 75px 60px 60px;
    margin-bottom: 25px;
    z-index: 2;
    position: relative;
}
.w-c-s-comments>p,.w-c-s-comments-1>p{
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-3;
    line-height: 30px;
}
.w-c-s-comments::before{
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid $pr1;
    top: 100%;
    left: 62px; 
}
.w-c-s-comments-1::before{
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid $overlay-2;
    top: 100%;
    right: 65px; 
}
.w-c-s-img{
    @include flexalign;
    justify-content: flex-end;
    gap: 25px;
    font-family: $para;
    margin: 0px 35px;
}
.w-c-s-number>.w-c-s-img{
    justify-content: flex-start;
}
.w-c-s-img>p{
    font-size: $size-eighteen;
    color: $txt-clr-1;
}
.w-c-s-img>p>span{
    font-size: $size-fifteen;
    color: $txt-clr-2;
    
}
.w-c-s-img>p{
    @include flexcolumn;
    gap: 5px;
}
.w-c-s-right-arrow{
    position: absolute;
    right: -70px;
    top: 45%;
    font-size:20px;
    color:$txt-clr-1;
    cursor: pointer;
}
.w-c-s-left-arrow{
    position: absolute;
    left: -70px;
    top: 45%;
    font-size:20px;
    color:$txt-clr-1;
    cursor: pointer;
}
/*History and Advice starts here*/
.our-history-and-advice{
    background-image: url(../images/get-advice-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.our-history-and-advice-main{
    @include flexalignstart;
    gap: 80px;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 60px;
}
.scroll{
    width: 37%;
    overflow-y: scroll;
    direction: rtl;
}
.our-history{
     width: 100%;
     @include flexcolumn;
     gap: 30px;
     direction: ltr;
     min-height: 1px;
     max-height: 320px;
     padding-left: 25px;
}
.our-history-heading{
    font-family: $heading;
}
.our-history-heading>h1{
    font-size: $size-thirty-five;
    color: $txt-clr-3;
    font-weight: 400;
}
.our-history-number{
    @include flexalignstart;
    gap: 20px;
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-3;
    cursor: pointer;
}
.our-history-number>span{
    color: $txt-clr-7;
}
.get-advice{
    width: 64%;
    @include flexcolumn;
    gap: 30px;
    padding-top: 50px;
}
.get-advice>h1{
    font-family: $heading;
    font-size: $size-thirty-five;
    color: $txt-clr-3;
    font-weight: 400;
}
.get-advice>h1>span{
    border-bottom: 1px solid $btn-border-clr-2;
    padding-bottom: 5px;
}
.get-advice>p{
    font-family: $para;
    font-size: $size-eighteen;
    color: $txt-clr-7;
    text-align: center;
    margin-bottom: 30px;
}
.get-advice>form{
    width: 100%;
    border: 2px solid $btn-border-clr-3;
    padding: 10px;
}
.get-advice>form>input{
   font-size: $size-eighteen;
   color: $txt-clr-7; 
   background: inherit;
   border: none;
   outline: none;
   height: 50px;
}
.get-advice>form>input::placeholder{
    color: $txt-clr-7;
    font-family: $para;
}
.get-advice>form>input[type=text]{
    border-right: 2px solid $txt-clr-7;
    width: 27%;
    padding-left: 20px;
}
.get-advice>form>input[type=email]{
    border-right: 2px solid $txt-clr-7;
    width: 46%;
    padding-left: 20px;
}
.get-advice>form>input[type=submit]{
    width: 25%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
/* width */
.scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .scroll::-webkit-scrollbar-track {
   background:  #5a617d; 
   border-radius: 6px;
  }
   
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background:#a6abc1; 
    border-radius: 6px;
  }
  /*blog news starts here*/
  .blog-news{
      background: $pr3;
  }
  .blog-news-heading{
      @include flexcenter;
      justify-content: center;
      gap: 15px;
      font-family: $heading;
      font-size: $size-twenty-six;
      margin-bottom: 40px;
  }
  .blog-news-heading>.heading-1{
      @include heading-1;
  }
  
  .blog-news-heading>.heading-2{
    @include heading-2;
}
.bn-desc{
    font-family: $para;
    font-size: $size-fifteen;
    text-align: center;
    color: $txt-clr-6;
    margin-bottom: 50px;
}
.bn-content{
    @include flexalignstart;
    gap: 25px;
    // flex-wrap: wrap;
}
.bn-content-number{
    padding-bottom: 35px;
    border: 1px solid $btn-border-clr-1;
}
.bn-img>img{
    height: 100%;
    display: block;
}
.bn-img-caption{
    background: $pr1;
    position: relative;
    text-align: center;
    padding: 15px 60px;
}
.bn-img-caption>img{
    position: absolute;
    top: -30px;
    left: 20px;
}
.bn-img-caption>span{
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-7;
    text-align: center;
    width: 100%;
}
.bn-img-caption>span>b{
    color: $txt-clr-3;
    font-weight: 400;
}
.bn-img-info{
    @include flexcenter;
    width: 90%;
    margin: 0 auto;
    font-family: $heading;
    padding: 25px 0px;
    border-bottom: 1px solid $btn-border-clr-1;
    margin-bottom: 30px;
}
.bn-img-info>a{
    text-decoration: none;
    color: $txt-clr-2;
    font-size: 14px;
    display: flex;
    gap: 5px;
}

.bn-img-info>a>i{
    color: #afafaf;
}
.bn-content-info{
    @include flexcolumn;
    align-items: flex-start;
    gap: 25px;
    width: 80%;
    margin: 0 auto;
}
.bn-content-info>h3{
    font-family: $heading;
    color: $txt-clr-1;
    font-size: $size-eighteen;
}
.bn-content-info>p{
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-6;
    line-height: $line-height;
}
.bn-content-info>a{
    @include btn;
    border: 1px solid $btn-border-clr-2;
    font-size: $size-twelve;
    font-family: $para;
}
.bn-content-info>a:hover{
    @include hover-btn;
    transition: .5s ease;
}
/*university Partners starts here*/
.our-uni{
    background: $pr3;
}
.uni-heading{
    @include flexalign;
    font-family: $heading;
    gap: 25px;
    margin-bottom: 50px;
}
.heading-u{
    @include heading-1;
    @include flexalignstart;
    gap: 10px;
    font-weight: 400;
}
.heading-u>span{
    @include heading-2;
}
.uni-heading>span{
    display: inline-block;
    height: 2px;
    width: 71%;
    background: $btn-border-clr-1;
}
.uni-autoplay{
    @include flexalignstart;
    gap: 75px;
}
.uni-link{
    justify-content: center;
}
.uni-link>a{
    filter: grayscale(1);
    opacity: .1;
}
.uni-link>a:hover{
    filter: grayscale(0);
    opacity: 1;
    transition: .5s ease;
}
.uni-right-arrow{
    position: absolute;
    font-size: 20px;
    color: $icon-clr-4;
    top: -78px;
    right: 0px;
    cursor: pointer;
}
.uni-left-arrow{
    position: absolute;
    font-size: 20px;
    color: $icon-clr-4;
    top: -78px;
    right: 20px;
    cursor: pointer;
}
.uni-left-arrow:hover , .uni-right-arrow:hover{
    color: $icon-clr-2;
    transition: .5s ease;
}
/*contact and information details starts here*/
.contact-info{
    background:url(../images/contactusbg.png) no-repeat top center, $pr6;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-info-nav{
    @include flexalign;
    justify-content: center;
    gap: 35px;
    width: 266px;
    margin: 0 auto 80px;
    border-bottom: 1px solid #e2e2e2;
}
.c-i-nav{
    font-size: $size-fifteen;
    color: $txt-clr-2;
    font-family: $heading;
    cursor: pointer;
    text-decoration: none;
    font-weight: $regular;
    padding-bottom: 19px;
    border-bottom: 1px solid transparent;
}
.c-i-nav-active{
    color: $txt-clr-1;
    position: relative;
    border-bottom: 1px solid $txt-clr-1;
}
.contact-us{
    @include flexalignstart;
    gap: 40px;
}
.location{
    border: 2px solid #f1f1f1;
}
.contact{
    @include flexcolumn;
    align-items: center;
    gap: 25px;
    width: 100%;
}
.contact>h1{
    font-family: $para;
    font-size: $size-fifty;
    color: #a4a4a4;
    font-weight: 400;
    margin-bottom: 25px;
}
.contact-form{
    @include flexcolumn;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
.contact-input{
    width: 100%;
    position: relative;
}
.contact-input>input,.contact-input>textarea{
    width: 100%;
    @include inputnone;
    font-family: $para;
    font-size: $size-fifteen;
    padding: 20px 75px;
    color: #bcbcbc;
}
.contact-input>.message{
    height: 175px;
    resize: none;
}
.contact-input>i{
    font-size: $size-fifteen;
    color: #e5e5e5;
    position: absolute;
    top: 21px;
    left: 20px;
}
.contact-input>i:after{
    position: absolute;
    content: '';
    height: 30px;
    width: 2px;
    background: #e5e5e5;
    left: 32px;
    top: -7px;
}
.contact-input>input::placeholder,.contact-input>textarea::placeholder{
    color: #bcbcbc;
}
.contact>a{
    @include btn;
    border: 1px solid $btn-border-clr-2;
    font-size: $size-twelve;
    font-family: $para;
}
.contact>a:hover{
    @include hover-btn;
    transition: .5s ease;
}
.information-details{
    @include flexcolumn;
    align-items: center;
    gap: 80px;
    display: none;
}
.info-details{
    font-family: $para;
    font-size: $size-fifty;
    color: #a4a4a4;
    font-weight: 400;
}
.i-d-main{
    @include flexalign;
    justify-content: center;
    gap: 265px;
    position: relative;
}
.i-d-content{
    @include flexcolumn;
    align-items: center;
    gap: 7px;
}
.icon-bg{
    background: #a4a4a4;
    width: 133px;
    height: 133px;
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
    transform: rotate(-18deg);
    box-shadow: 10px 10px #e7e7e7;
}
.icon-bg>img{
    position: absolute;
    top: 43px;
    left: 45px;
    transform: rotate(17deg);

}
.i-d-content>h3{
    font-family: $heading;
    font-size: $size-eighteen;
    color: $txt-clr-1;
    margin-bottom: 15px;
    text-align: center;
}
.i-d-content>span{
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-6;
}
.dot-line-1{
    display: inline-block;
    width: 260px;
    height: 100px;
    position: absolute;
    left: 166px;
    top: 64px;
}
.dot-line-2{
    display: inline-block;
    width: 260px;
    height: 100px;
    position: absolute;
    right: 157px;
    top: 30px;
}
.i-d-links{
    @include flexalign;
    justify-content: center;
    font-family: $para;
    font-size: $size-fifteen;
    gap: 25px;
    padding-top: 20px;
    border-top: 2px solid #eeeeee;
}
.i-d-links>a{
    text-decoration: none;
    color: $txt-clr-1;
    @include flexalign;
    gap: 5px;
}
.i-d-links>a:hover{
    color: $txt-clr-2;
    transition: .5s ease;
}
/*newsletter starts here*/
.newsletter{
    background: $pr1;
}
.newsletter-form{
    @include flexalign;
    padding: 20px 0px;
    flex-basis: 15%;
    gap: 25px;
}
.newsletter-form>i{
    color: $txt-clr-3;
    font-size: 20px;
}
.newsletter-form>input{
    @include inputnone;
    background: inherit;
    color: $txt-clr-3;
    font-family: $para;
    font-size: $size-fifteen;
}
.newsletter-form>input[type=email]{
    flex-grow: 2;
}
.newsletter-form>input::placeholder{
    color: $txt-clr-7;
    
}
.newsletter-form>input[type=submit]{
    height: 36px;
    max-width: 236px;
    min-width: 1px;
    font-size: $size-twelve;
    padding: 10px 24px;
    cursor: pointer;
    border: 1px solid $btn-border-clr-1;
}
/*footer starts here*/
.footer{
    background: $pr3;
}
.footer-main{
    @include flexalignstart;
    gap: 65px;
    padding-bottom: 90px;
}
.footer-number{
    @include flexcolumn;
    gap: 30px;
}
.footer-address>a{
    text-decoration: none;
    font-family: $para;
    font-size: $size-fifteen;
    @include flexalignstart;
    gap: 15px;
    color: $txt-clr-6;
}
.footer-address>a>i{
    color: $txt-clr-1;
}
.footer-address>a>address{
    @include flexcolumn;
    gap: 7px;
    font-style: normal;
    font-weight: 400;
}
.footer-number>h1{
    font-size: $size-eighteen;
    color: $txt-clr-1;
    font-family: $heading;
}
.footer-number>a{
    font-family: $para;
    font-size: $size-fifteen;
    color: $txt-clr-6;
    @include flexalignstart;
    gap: 20px;
    text-decoration: none;
}
.footer-number>a>i{
    color: #eaeaea;
}
.tweet{
    @include flexcolumn;
    gap: 7px;
    font-family: $para;
    font-size: $size-fifteen;
}
.tweet>p{
    color: $txt-clr-6;
}
.tweet>p>a{
    text-decoration: none;
    color: $txt-clr-2;
}
.tweet>span{
    color: $txt-clr-1;
    font-style: italic;
}
.instructors-contain{
    @include flexalignstart;
    flex-wrap: wrap;
    flex-basis: 29%;
    gap: 10px;
}
.instructors{
    position: relative;
    overflow: hidden;
}
.instructors-overlay{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    background: $overlay-2;
    visibility: hidden;
}
.instructors:hover .instructors-overlay{
    transition: .5s cubic-bezier(0.455, 0.03, 0.515, 0.955) all;
    top: 0;
    visibility: visible;

}

.instructors>img{
    height: auto;
    display: block;
}
.ff1{
    flex: 1;
}
.ff2{
    flex: 2;
}
.ff3{
    flex: 3;
}
.ff4{
    flex: 4;
}
/*copyright starts here*/
.copyright-bar{
    background: $pr6;
}
.copyright-bar-main{
    @include flexcenter;
    font-family: $para;
    font-size: $size-fifteen;
    padding: 37px 0px;
}
.temperature{
    color: $txt-clr-1;
}
.copyrights{
    color: #a4a4a4;
}
.copyrights>p>span{
    color: $txt-clr-2;
}
